@page
@model AccountsModel
@using VirobnichaFirma.DAL
@{
    ViewData["Title"] = "Accounts";
}

<div class="text-center">
</div>

<div>
    <form method="post">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Тип акаунта</th>
                <th></th>
            </tr>
            @{
                foreach (var Account in Model.Accounts)
                { 
                        <tr>
                            <td>
                                @Account.Id
                            </td>
                            <td>
                                @Account.Login
                            </td>
                            <td>
                                @Account.Type
                            </td>
                            <td align="right">
                            <a asp-page="Account" asp-route-id="@Account.Id" class="btn btn-outline-warning btn-sm">
                            Редактировать
                            </a>
                            <button type="submit" class="btn btn-outline-danger btn-sm" 
                            asp-page-handler="delete" asp-route-id="@Account.Id">Удалить</button>
                            </td>
                        </tr>
                }
            }
        </table>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}