@page
@model JobtitlesModel
@using VirobnichaFirma.DAL
@{
    ViewData["Title"] = "Jobtitles";
}

<div class="text-center">
</div>

<div>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-page="Jobtitle">Создать</a>
    }
    <form method="post">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Профессия</th>
                <th>Почасовая зарплата</th>
                <th></th>
            </tr>
            @{
                foreach (var Jobtitle in Model.Jobtitles)
                { 
                    <tr>
                        <td>@Jobtitle.Id</td>
                        <td>
                        @Jobtitle.JobtitleName
                        </td>
                        <td>
                        @Jobtitle.HourlyCostOfWork
                        </td>
                        <td align="right">
                        @if (User.IsInRole("Administrator"))
                        {
                            <a asp-page="Jobtitle" asp-route-id="@Jobtitle.Id" class="btn btn-outline-warning btn-sm">Редактировать</a>
                            <button type="submit" class="btn btn-outline-danger btn-sm" 
                            asp-page-handler="delete" asp-route-id="@Jobtitle.Id">Удалить</button>
                        }
                        </td>
                    </tr>
                }
            }
        </table>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}